@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts  */
@font-face {
  font-family: "Archia";
  src: local("Archia"),
    url("./../fonts/archia/archia-semibold-webfont.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Archia";
  src: local("Archia"),
    url("./../fonts/archia/archia-medium-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Archia";
  src: local("Archia"),
    url("./../fonts/archia/archia-bold-webfont.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Archia", "Noto Sans", sans-serif;
  @apply bg-gray-50 dark:bg-gray-800 text-gray-700 dark:text-gray-200;
}
.container {
  max-width: 1280px;
}

/* Tranisitions */
.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s ease;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 20%;
  transform: translateY(-5px);
}

/* Form  */
label {
  @apply text-sm;
}
.form-group {
  @apply mb-2;
}
.form-control {
  @apply w-full rounded p-2 border dark:border-gray-500 focus:outline-none dark:bg-gray-600 focus:border-gray-400 text-gray-500 dark:text-gray-200;
}
.btn-primary {
  @apply p-2 rounded bg-green-400 w-full text-white focus:outline-none;
}
.btn-danger {
  @apply p-2 rounded bg-red-400 w-full text-white focus:outline-none;
}

/* Menu Item  */
.nuxt-link-exact-active > svg {
  @apply text-green-400;
}
